.main {
  width: 100%;
  max-width: 46rem;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;

  position: relative;
}

.main .content {
  margin-top: 90px;
  width: 100%;
}

.main .content header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  font-weight: 700;
}

.tasksTotal {
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 17px;

  gap: 0.5rem;
}

.tasksTotal h2 {
  font-size: 0.875rem;
  color: var(--blue-400);
}

.tasksDone {
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 17px;
  color: var(--purple-400);

  gap: 0.5rem;
}

.tasksDone h2 {
  font-size: 0.875rem;
  color: var(--purple-400);
}

.count {
  font-size: 0.75rem;
  color: var(--gray-200);
  background-color: var(--gray-400);
  border-radius: 9999px;
  padding: 0.125rem 0.5rem;
  min-width: 1.5625rem;
}
